body {
    margin: 0 auto;
}

.circle {
    background-color: #0E0930;
    border-radius: 50%;
    display: inline-block;
    margin: -10px;
    height: 40px;
    width: 40px;
    animation: grow 1.5s linear infinite;
    transform: scale(0);
}

.circle:nth-of-type(2) {
    background-color: #A5B7F4;
    animation-delay: 0.75s;
}

@keyframes grow {
    50% {
        transform: scale(1);
    }
}

.loading-container {
    animation: rotate 3s linear infinite;
    height: 100px;
    transform-origin: bottom center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}