@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    display: flex;
    justify-content: center;
    background: #4d4dfc;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}